        <!-- Shop Section Start -->
        <div class="shop-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-70 pb-lg-50 pb-md-40 pb-sm-60 pb-xs-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 order-lg-1 order-2">
                        <!-- Single Sidebar Start  -->
                        <div class="common-sidebar-widget">
                            <h3 class="sidebar-title">CATEGORY</h3>
                            <ul class="sidebar-list">
                                <li *ngFor="let category of categories" > 
                                    <a (click)="applyFilter(category.title)" ><i class="fa fa-angle-right"></i>{{ category.title }} <span class="count"></span></a>
                                </li>
                            </ul>
                        </div>
                        <!-- Single Sidebar End  -->

                    </div>
                    <div class="col-lg-9 order-lg-2 order-1">
                        
                        <div class="row">
                            <div class="col-12">
                                <!-- Grid & List View Start -->
                                <div class="shop-topbar-wrapper d-md-flex justify-content-md-between align-items-center">
                                    <div class="grid-list-option">
                                         <ul class="nav">
                                          <li>
                                            <a class="active show" data-toggle="tab" href="#grid"><i class="fa fa-th"></i></a>
                                          </li>
                                        </ul>
                                     </div>
                                </div>
                                <!-- Grid & List View End -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="shop-product">
                                    <div id="myTabContent-2" class="tab-content">
                                        <div id="grid" class="tab-pane fade active show">
                                            <div class="product-grid-view">
                                                <div class="row">
                                                    <div *ngFor="let product of products" class="col-lg-4 col-md-6 col-sm-6">
                                                        <!-- Single Product Start -->
                                                        <div class="single-product mb-30">
                                                            <div class="product-img">
                                                                <a routerLink="{{ '/product-detail/' + product.id }}">
                                                                    <img src="{{ product.image }}" alt="">
                                                                </a>
                                                                <span *ngIf="product.inSolde == true" class="descount-sticker">- {{ product.pourcentagePromotion }} %</span>
                                                                <span class="sticker">NEW</span>
                                                                <div class="product-action d-flex justify-content-between">
                                                                    <a class="product-btn" (click)="addToCart(product)">Add to Cart</a>
                                                                    <ul class="d-flex">
                                                                        <li><a routerLink="{{ '/product-detail/' + product.id }}" title="Quick View"><i class="fa fa-eye"></i></a></li>

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="product-content">
                                                                <h3><a routerLink="{{ '/product-detail/' + product.id }}">{{ product.title }}</a></h3>
                                                                <h4 class="price"><span class="new">{{ product.price }} DH</span></h4>
                                                            </div>
                                                        </div>
                                                        <!-- Single Product End -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shop Section End -->

