<div class="header-top bg-dark">
  <div class="container pl-75 pr-75 pl-lg-15 pr-lg-15 pl-md-15 pr-md-15 pl-sm-15 pr-sm-15 pl-xs-15 pr-xs-15">
    <div class="row align-items-center">

      <div class="col-xl-6 col-lg-8 d-flex flex-wrap justify-content-lg-start justify-content-center align-items-center">
        <!--Links start-->
        <div class="header-top-links color-white">
          <ul>
            <li><a href="#"><i class="fa fa-phone"></i>(00) 123 456 7890</a></li>
            <li><a href="#"><i class="fa fa-envelope-open-o"></i>contact@cosmy.com</a></li>
          </ul>
        </div>
        <!--Links end-->
        <!--Socail start-->
        <div class="header-top-social color-white">
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
        </div>
        <!--Socail end-->
      </div>
      <!--div class="col-xl-6 col-lg-4">
        <div class="ht-right d-flex justify-content-lg-end justify-content-center">
          <ul class="ht-us-menu color-white d-flex">
            <li><a href="#"><i class="fa fa-user-circle-o"></i>Login</a>
              <ul class="ht-dropdown right">
                <li><a href="compare.html">Compare Products</a></li>
                <li><a href="my-account.html">My Account</a></li>
                <li><a href="wishlist.html">My Wish List</a></li>
                <li><a href="login-register.html">Sign In</a></li>
              </ul>
            </li>
          </ul>
        
        </div>
      </div-->


    </div>

  </div>
</div>
