<div class="page-banner-section section bg-gray" style="background-image: url(assets/images/headers/header-cart1.png);">
    <div class="container">
        <div class="row">
            <div class="col">
                
                <div class="page-banner text-center">
                    <h1>Blog Details</h1>
                    <ul class="page-breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li>Blog Details</li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- Page Banner Section End -->

<!-- Blog Section Start -->
<div class="blog-section section pt-100 pt-lg-80 pt-md-70 pt-sm-50 pt-xs-40 pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-sm-40 mb-xs-30">
                <div class="blog_area">
                    <article class="blog_single blog-details">
                        <header class="entry-header">
                            <h2 class="entry-title">
                                <div class="media"><img class="post-image" *ngIf="post" src="{{post?.image}}"></div>
                            </h2>
                            <span class="post-author">
                            <span class="post-by"> Posts by : </span> {{ post?.author }} </span>
                            <span class="post-separator">|</span>
                            <span class="post-date"><i class="fas fa-calendar-alt"></i>{{ post?.createdAt }}</span>
                        </header>
                        <div class="post-thumbnail img-full">
                            <img src="assets/images/blog/blog-details-1.jpg" alt="">
                        </div>
                        <div class="postinfo-wrapper">
                            <div class="post-info">
                                <div class="entry-summary blog-post-description">
                                    <p>{{ post?.content }}</p>
                                    <!--Blog Post Tag-->
                                    <div class="single-post-tag">
                                        
                                        Tags: 
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                
                </div>
                <!--Comment Area Start-->
                <div class="comments-area mt-85 mt-lg-65 mt-md-55 mt-md-45 mt-sm-15 mt-xs-0" >
                    <h3>comments ({{ comments2?.length }})</h3>
                    <ol class="commentlist" *ngFor="let comment of comments2 ">
                        <li>
                            <div class="single-comment">
                                <div class="comment-avatar img-full">
                                    <img src="assets/images/icons/author.png" alt="">
                                </div>
                                <div class="comment-info">
                                    <a>{{comment?.commentedBy}}</a>
                                   
                                    <span class="date">{{comment.createdAt}}</span>
                                    <p>{{comment?.comment}}</p>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
                <div class="comment-box mt-30">
                    <h3>Leave a Comment</h3>
                    <form (submit)="onAjouter()" class="normal-form" [formGroup]="MerchantResourceForm">
                        <p class="comment-note"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="single-input mb-20">
                                    <label>Comment*</label>
                                    <textarea name="commenter-message" formControlName ="comment" placeholder="Message" id="commenter-message" cols="30" rows="5"></textarea>
                                </div>
                            </div>
                            
                           
                           
                            
                     
                            <div class="col-md-12">
                                <div class="single-input">
                                    <button class="form-button" type="submit">Post Comment</button>
                                </div>
                            </div>
                        


                            
                        </div>
                    </form>
                </div>  <br> <br> <br>
                <!--Comment Area End-->
            </div> 
           
            <div class="relatedposts">
                <h3>Autres posts</h3>
                <div class="row">
                    <div class="col-md-4 col-sm-6"  *ngFor="let post of posts | slice:0:3;" >
                        <div class="relatedthumb mb-xs-30" >
                            <div class="image">
                                <a routerLink="{{ '/blog-detail/' + post.id }}" (click)="reflicher()"><img [src]="post.image"  ></a>
                            </div>
                            <h4><a >Post with Gallery</a></h4>
                            <span class="rl-post-date">December 1, 2018</span>
                        </div>
                    </div>
                
                
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Section End -->


