<!--Header section start-->
<header class="header header-transparent header-sticky">
  <div class="header-bottom menu-right bg-dark">
    <div class="container-fluid pl-75 pr-75 pl-lg-15 pr-lg-15 pl-md-15 pr-md-15 pl-sm-15 pr-sm-15 pl-xs-15 pr-xs-15">
      <div class="row align-items-center">
        <!--Logo start-->
        <div class="col-lg-3 col-md-3 col-6 order-lg-1 order-md-1 order-1">
          <div class="logo">
            <a href="index.html"><img src="assets/images/logo-white.png" alt=""></a>
          </div>
        </div>
        <!--Logo end-->
        <!--Menu start-->
        <div class="col-lg-6 col-md-6 col-12 order-lg-2 order-md-2 order-3 d-flex justify-content-center">
          <nav class="main-menu color-white">
            <ul>
              <li><a href="#">Home</a>
              </li>
              <li><a href="#">Shop</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </nav>
        </div>
        <!--Menu end-->

        <!--Search Cart Start-->
        <div class="col-lg-3 col-md-3 col-6 order-lg-3 order-md-3 order-2 d-flex justify-content-end">
          <div class="header-search">
            <button class="header-search-toggle color-white"><i class="fa fa-search"></i></button>
            <div class="header-search-form">
              <form action="#">
                <input type="text" placeholder="Type and hit enter">
                <button><i class="fa fa-search"></i></button>
              </form>
            </div>
          </div>
        </div>
        <!--Search Cart End-->
      </div>
      <!--Mobile Menu start-->
      <div class="row">
        <div class="col-12 d-flex d-lg-none d-block">
          <div class="mobile-menu"></div>
        </div>
      </div>
      <!--Mobile Menu end-->
    </div>
  </div>
</header>
<!--Header section end-->
