<!-- Page Banner Section Start -->
<div class="page-banner-section section bg-gray" style="background-image: url(assets/images/headers/header-cart1.png);">
    <div class="container">
        <div class="row">
            <div class="col">
                
                <div class="page-banner text-center">
                    <h1>Blog</h1>
                    
                       
                    
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- Page Banner Section End -->

<!-- Blog Section Start -->
<div class="blog-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-65 pb-lg-45 pb-md-35 pb-sm-25 pb-xs-15">
    <div class="container">
        <div class="row">
            <!-- Single Blog Start -->
            <div class="blog col-lg-4 col-md-4 col-sm-4" *ngFor="let post of posts ">
                <div class="blog-inner mb-20">
                    <div class="media"><a routerLink="{{ '/blog-detail/' + post.id }}" class="image"><img [src]="post.image" alt="" height="300px"></a></div>
                    <div class="content">
                        <h3 class="title"><a routerLink="{{ '/blog-detail/' + post.id }}">{{ post.title }}</a></h3>
                        <ul class="meta">
                            <li><i class="fa fa-calendar"></i><span class="date-time"><span class="date">{{ post.createdAt }}</span></span></li>
                        </ul>
                        <p>{{ post.content | slice: 0:30 }}</p>
                        <a class="readmore" routerLink="{{ '/blog-detail/' + post.id }}"> Read more</a>
                    </div>
                </div>
            </div>
            <!-- Single Blog End -->
        </div>
    
    </div>
</div>
<!-- Blog Section End -->

<!--Brand section start-->
<div
    class="brand-section section border-top pt-90 pt-lg-70 pt-md-65 pt-sm-55 pt-xs-40 pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
    <div class="container">
        <div class="row">

            

        </div>
    </div>
</div>
<!--Brand section end-->