<!-- Page Banner Section Start -->
<div class="page-banner-section section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col">
                
                <div class="page-banner text-center">
                    <h1>Blog</h1>
                    <ul class="page-breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li>Blog</li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- Page Banner Section End -->

<!-- Blog Section Start -->
<div class="blog-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-65 pb-lg-45 pb-md-35 pb-sm-25 pb-xs-15">
    <div class="container">
        <div class="row">
            <!-- Single Blog Start -->
            <div class="blog col-lg-6 col-md-6 col-sm-6" *ngFor="let post of posts">
                <div class="blog-inner mb-20">
                    <div class="media"><a routerLink="{{ '/blog-detail/' + post.id }}" class="image"><img [src]="post.image" alt="" ></a></div>
                    <div class="content">
                        <h3 class="title"><a routerLink="{{ '/blog-detail/' + post.id }}">{{ post.title }}</a></h3>
                        <ul class="meta">
                            <li><i class="fa fa-calendar"></i><span class="date-time"><span class="date">{{ post.createdAt }}</span></span></li>
                        </ul>
                        <p>{{ post.content | slice: 0:30 }}</p>
                        <a class="readmore" href="#">Read more</a>
                    </div>
                </div>
            </div>
            <!-- Single Blog End -->
        </div>
        <div class="row mb-35">
            <div class="col">
                <ul class="page-pagination">
                    <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                    <li class="active"><a href="#">01</a></li>
                    <li><a href="#">02</a></li>
                    <li><a href="#">03</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Blog Section End -->

<!--Brand section start-->
<div
    class="brand-section section border-top pt-90 pt-lg-70 pt-md-65 pt-sm-55 pt-xs-40 pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
    <div class="container">
        <div class="row">

            <!--Brand Slider start-->
            <div class="tf-element-carousel section" data-slick-options='{
                "slidesToShow": 5,
                "slidesToScroll": 1,
                "infinite": true,
                "arrows": false,
                "autoplay": true
                }'  data-slick-responsive='[
                {"breakpoint":1199, "settings": {
                "slidesToShow": 4
                }},
                {"breakpoint":992, "settings": {
                "slidesToShow": 4
                }},
                {"breakpoint":768, "settings": {
                "slidesToShow": 3
                }},
                {"breakpoint":576, "settings": {
                "slidesToShow": 1
                }}
                ]'>
                <div class="brand col"><a href="#"><img src="assets/images/brands/brand-1.png" alt=""></a></div>
                <div class="brand col"><a href="#"><img src="assets/images/brands/brand-2.png" alt=""></a></div>
                <div class="brand col"><a href="#"><img src="assets/images/brands/brand-3.png" alt=""></a></div>
                <div class="brand col"><a href="#"><img src="assets/images/brands/brand-4.png" alt=""></a></div>
                <div class="brand col"><a href="#"><img src="assets/images/brands/brand-5.png" alt=""></a></div>
            </div>
            <!--Brand Slider end-->

        </div>
    </div>
</div>
<!--Brand section end-->