

<!-- Page Banner Section Start -->
<div class="page-banner-section section bg-gray" style="background: url(assets/images/headers/header-cart3.jpg);">
    <div class="container">
        <div class="row">
            <div class="col">
                
                <div class="page-banner text-center">
                    <h1 style="color:chocolate">Shopping Cart</h1>
                    <ul class="page-breadcrumb" >
                        <li><a routerLink="/home" style="color:chocolate">Home</a></li>
                        <li style="color:chocolate"> Cart</li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- Page Banner Section End -->

<!--Cart section start-->
<div class="cart-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50  pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20">
    <div class="container">
        <div class="row">
            
            <div class="col-12">            
                <!-- Cart Table -->
                <div class="cart-table table-responsive mb-30">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="pro-thumbnail">Image</th>
                                <th class="pro-title">Product</th>
                                <th class="pro-price">Price</th>
                                <th class="pro-quantity">Quantity</th>
                                <th class="pro-remove">Remove</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="cartProducts.length > 0">

                            <tr *ngFor="let product of cartProducts"> 
                                <td class="pro-thumbnail"><a href="#"><img src="{{ product.image }}" alt="Product"></a></td>
                                <td class="pro-title"><a href="#"> {{ product.title }} </a></td>
                                <td class="pro-price"><span> {{ product.price }} DH </span></td>
                                <td class="pro-quantity"><div class="pro-qty"><input type="number" value="1" min="1"> </div></td>
                                <td class="pro-remove" ><a (click)="removeCartProduct(product)"  ><i class="fa fa-trash-o"></i></a></td>
                            </tr>

                        </tbody>
                        <tbody *ngIf="cartProducts.length <= 0"> 
                            <tr> 
                                <td colspan="5">{{messageTitle}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">


                    <!-- Cart Summary -->
                    <div class="col-lg-12 col-12">
                        <div class="cart-summary">
                            <div class="cart-summary-wrap">
                                <h4>Cart Summary</h4>
                                <p>Sub Total <span>{{totalValue}} DH</span></p>
                                <h2>Grand Total <span>{{totalValue}} DH</span></h2>
                            </div>
                            <div class="cart-summary-button">
                                <button class="btn">Checkout</button>
                                <button class="btn">Update Cart</button>
                            </div>
                        </div>
                    </div>

                </div>
                
            </div>
            
        </div>            
    </div>
</div>
<!--Cart section end-->

