<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 mb-5">
        <h1>Produits</h1>
        <div class="top-right-button-container">
          <button routerLink="/products/create" type="button" class="btn btn-outline-primary btn-lg top-right-button mr-1">Ajouter nouveau produit</button>
        </div>
        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
          <ol class="breadcrumb pt-0">
            <li class="breadcrumb-item">
              <a routerLink="/dashboard">Tableau de board</a>
            </li>
            <li class="breadcrumb-item">
              <a routerLink="/products">Produits</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
          </ol>
        </nav>
        <div class="separator mb-5"></div>
        <div class="row">
          <div class="col-12 col-md-12 col-xl-8 col-left">
            <div class="card mb-4">
              <div class="lightbox">
                <a href="{{ product.image }}">
                  <img alt="detail" src="{{ product.image }}" class="responsive product-image border-0 card-img-top mb-3">
                </a>
              </div>
              <div class="card-body">
                <div class="mb-5">
                  <h5 class="card-title">{{ product.title }}</h5>
                  <p>{{ product.description }}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-12 col-xl-4 col-right">

            <div class="card mb-4">
              <div class="card-body">
                <div class="d-flex flex-row align-items-center mb-3">
                  <a class="d-block position-relative" href="#">
                    <i class="iconsminds-tag large-icon initial-height"></i>
                  </a>
                  <div class="pl-3 pt-2 pr-2 pb-2">
                    <a href="#">
                      <p class="list-item-heading mb-1">{{ product.category }}</p>
                    </a>
                  </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-3">
                  <a class="d-block position-relative" href="#">
                    <i class="iconsminds-money-bag large-icon initial-height"></i>
                  </a>
                  <div class="pl-3 pt-2 pr-2 pb-2">
                    <a href="#">
                      <p class="list-item-heading mb-1">{{ product.price }} DH</p>
                    </a>
                  </div>
                </div>

                <div *ngIf="product.inSolde" class="d-flex flex-row align-items-center">
                  <a class="d-block position-relative" href="#">
                    <i class="iconsminds-sailing-ship large-icon initial-height"></i>
                  </a>
                  <div class="pl-3 pt-2 pr-2 pb-2">
                    <a href="#">
                      <p class="list-item-heading mb-1">- {{ product.pourcentagePromotion }} %</p>
                    </a>
                  </div>
                </div>

                <div class="d-flex flex-row align-items-center">
                  <a class="d-block position-relative" href="#">
                    <i class="iconsminds-shop-4 large-icon initial-height"></i>
                  </a>
                  <div class="pl-3 pt-2 pr-2 pb-2">
                    <a href="#">
                      <p class="list-item-heading mb-1">{{ product.qte }} Produits</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">Protocole d'application</h5>
                <div class="d-flex flex-row align-items-center mb-3">
                  <div class="pt-2 pr-2 pb-2">
                    <p class="list-item-heading mb-1">{{ product.applicationProtocol }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
